apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "csv-diff-server.fullname" . }}
  labels:
    {{- include "csv-diff-server.labels" . | nindent 4 }} 
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "csv-diff-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "csv-diff-server.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "csv-diff-server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:latest"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          # TODO: improve these
          livenessProbe:
            httpGet:
              path: /
              port: 3000
          readinessProbe:
            httpGet:
              path: /
              port: 3000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

          env:

            # node env
            - name: NODE_ENV
              value: {{ .Values.envVars.nodeEnv }}

            # Paths
            - name: PATHS_DATABASE
              value: {{ .Values.envVars.paths.database }}
            - name: PATHS_DIFF
              value: {{ .Values.envVars.paths.diffs }}


      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}